#yabiDic .ybit {float: left;margin: 0 11px 26px;display: inline;}
#yabiDic .tbContainer ul { margin: 25px 0 0 5px; }
#yabiDic .sortTypeLine{ border-bottom:1px #1982B1 dashed; padding-left: 10px; }
#yabiDic .sortTypeLine a{ color:#99ffff; }

/*ç©¶æè¶è¿å*/
#yabiDic .sortTypeLine .dqBtn20451{color:#ffff00;}
#yabiDic .d20451{top: -1px;font-size: 12px;position: relative;padding: 1px;color:#003300;background:#99ff00;margin-left: 2px;z-index: 2;}


#yabiDic .sortTypeLine .name{ float:left; color: white; margin-top: 10px; }
#yabiDic .sortTypeLine ul{ float:left; margin-left: 20px; width:80%;*width: 90%; }
#yabiDic .sortTypeLine li{ float:left; position: relative; padding: 0 10px; height: 40px; line-height: 40px; _line-height:42px; _overflow: hidden; }
#yabiDic .sortTypeLine .xb li{ height:36px; line-height:40px; }
#yabiDic .searchCtrl .submitBtn { color: #003366; width: 25px; height: 27px; line-height: 27px; text-align: center; }
#yabiDic .dqBtn{ position: relative; z-index: 2; }
#yabiDic .d{ position: absolute; width: 100%; height: 70%; left: 0px; top: 6px; z-index: 1; }
#yabiDic .on .d{ display: block; background: #99ffff; transform: skew(27deg); -o-transform: skew(27deg); -moz-transform: skew(27deg); -webkit-transform: skew(27deg); }
#yabiDic .on .dqBtn{ color: #003366; }
#yabiDic .quickSearch { }
#yabiDic .moreBtns{ text-align:center; }

#yabiDic .moreBtn{ background: url(img_d/sp01-8.png) 0px -50px; display: inline-block; width: 212px; height: 36px; margin: 0 auto; margin-right: 30px; }
#yabiDic .moreBtn:hover{ background-position:0 0; }
#yabiDic .moreBtn2{ background: url(img_d/sp01-8.png) -227px -50px; display: inline-block; width: 212px; height: 36px; margin: 0 auto; text-indent:-999em; }
#yabiDic .moreBtn2:hover{ background-position: -227px 0; }
#yabiDic .quickSearch .searchCtrl { margin-top: 8px; margin-bottom: 9px; }
.bread { color: white; float: left; margin: 8px 0; }
.noyb { text-align: center; padding: 20px 0; color: white; }


/*äºæ¯å¤§å¨è§æ */
.jinghuaIcon_0 .dt,.jinghuaIcon_1 .dt,.jinghuaIcon_2 .dt,.jinghuaIcon_3 .dt{ position: absolute; background: url(img_d/dicicon.png) 0px -2000px no-repeat; width: 44px; height: 46px; top: 4px; right: 2px; }
.jinghuaIcon_0 .dt{ background-position: -319px 0px; }
.jinghuaIcon_1 .dt{ background-position: -159px 0px; }
.jinghuaIcon_2 .dt{ background-position: -478px 0px; }
.jinghuaIcon_3 .dt{ background-position: 0px 0px; }
.jinghuaIcon_4 .dt{ display:none; }


#yabiDic .quickSearch .txt { background: #003060; color: white; }

